{% extends "base.html" %}

<!-- Build Recipe - Banner -->
{% block banner %}
    <div class="container-fluid us-banner-container us-b-color-00">
        <nav class="row text-center">
            <div class="col-4 col-md-1 us-banner-top">
                <div class="us-banner-navbtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}"><i class="bi bi-chevron-left us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
                <div class="us-banner-navbtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}"><i class="bi bi-chevron-right us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
            <div class="col-4 col-md-5 us-banner-top">
                <div class="us-banner-top-title-div us-p-color-01">
                    <h1 class="us-banner-top-title us-h1-color-02">Edit Recipe</h1>
                </div>
            </div>
            <div class="col-4 col-md-6 us-banner-top">
                <div class="float-end">
                    <a class="nav-link us-advsearch-link us-i-color-02" href="{{ url_for('search', term='All') }}" title="Goto Advanced Search."><i class="bi bi-search us-menu-link-02 us-i-color-02"></i><sup>ADV </sup></a>
                </div>
                <div class="us-banner-homebtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}" title="Home"><i class="bi bi-house-door us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="us-content-header">
        <h4 class="content_title">Edit Your Recipe</h4>
    </div>
    <div class="row">
        <div class="col">
            <form class="row g-3" id="ingredientForm" name="ingredientForm" method="POST" action="{{ url_for('edit_recipe', ruid=recipe.recipe_uid) }}">
                <!-- Add Recipe Name -->
                <div class="col-12">
                    <label for="recipe_name" class="form-label">Recipe Name</label>
                    <input type="text" id="recipe_name" name="recipe_name" 
                        class="form-control" 
                        minlength="5" maxlength="50"
                        required value="{{ recipe.recipe_name }}">
                </div>
                <!-- Add Recipe Description -->
                <div class="col-12">
                    <label for="recipe_description" class="form-label">Description</label>
                    <textarea id="recipe_description" name="recipe_description" 
                    class="form-control">{{ recipe.description }}</textarea>
                </div>
                <!-- Add Recipe Region -->
                <div class="col-md-6">
                    <label for="recipe_region" class="form-label">Region</label>
                    <select id="recipe_region" name="recipe_region" class="form-select us-dropdown">
                        {% for region in regions %}
                            {% if region.region_name == recipe.recipe_region %}
                                <option selected>{{region.region_name}}</option>
                            {% else %}
                                <option>{{region.region_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- Add Recipe Flavor Profile -->
                <div class="col-md-6">
                    <div class="row">
                        <p>Flavor Profile</p>
                        <div class="col-md-5 us-check-box">
                            {% for category in categories %}
                                {% for flavor in recipe.flavors %}
                                    {% if category.category_name == flavor%}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="{{ category.category_name }}" name="category" value="{{ category.category_name }}" checked>
                                            <label class="form-check-label" for="{{ category.category_name }}">
                                                {{ category.category_name.capitalize() }}
                                            </label>
                                        </div>
                                    {% else %}
                                        <div></div>
                                    {% endif %}
                                {% endfor %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="{{ category.category_name }}" name="category" value="{{ category.category_name }}">
                                    <label class="form-check-label" for="{{ category.category_name }}">
                                        {{ category.category_name.capitalize() }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Add Recipe Image URL -->
                <div class="col-12">
                    <label for="recipe_image_url" class="form-label">Provide an Image URL</label>
                    <input type="url" id="recipe_image_url" name="recipe_image_url" 
                        pattern="https?://.+" title="Include http://"
                        class="form-control" value="{{ recipe.image_url }}">
                </div>
                <!-- Add Recipe Image Description -->
                <div class="col-12">
                    <label for="recipe_image_alt" class="form-label">Provide an Image Description</label>
                    <input type="text" id="recipe_image_alt" name="recipe_image_alt" 
                        class="form-control" value="{{ recipe.image_alt }}">
                </div>
                <!-- Add Ingredient Region -->
                <div class="col us-ingredient-col">
                    <h4 class="us-ingredient-header">Ingredients</h4>
                    <!-- Added Ingredients -->
                    <div class="us-ingredient-ctnr us-b-color-03 us-h1-color-02">
                        <div class="row us-ingredient-titles">
                            <div class="col-5 us-ingredient-name">Ingredient Name</div>
                            <div class="col-2 us-ingredient-quantity">Quantity</div>
                            <div class="col-3 us-ingredient-measure">Measure</div>
                        </div>
                        <div class="us-ingredient-box" id="ingredient_region" name="ingredient_region">
                        {% for ingredient in recipe.ingredients %}
                            <div class="row us-ingredient-row" id="{{ ingredient._id }}">
                                <input name="ingredient_id" value="{{ ingredient._id }}" hidden readonly>
                                <input class="col-5 us-ingredient-name" name="ingredient_name" value="{{ ingredient.name }}" readonly>
                                <input class="col-2 us-ingredient-quantity" name="ingredient_quantity" value="{{ ingredient.quantity }}" readonly>
                                <input class="col-2 md-col-3 us-ingredient-measure" name="ingredient_measure" value="{{ ingredient.measure }}" readonly>
                                <!-- Remove the ingredient from the form -->
                                <div class="col-1">
                                    <button type="button" class="us-ingredient-delbtn" onclick="removeIngredient('{{ ingredient._id }}')">Remove</button>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <!-- Add Ingredient Input Fields -->
                    <div class="row us-ingredient-input" id="ingredientInputFields">
                        <div class="col-5">
                            <select id="ingredient_region_1_name" name="ingredient_region_1_name"
                                class="form-select us-dropdown us-ingredient-name">
                                <option selected>Choose...</option>
                                {% for ingredient in ingredients %}
                                <option>{{ ingredient.ingredient_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <input class="us-quantity-input" type="number" id="ingredient_region_1_quantity"
                                name="ingredient_region_1_quantity" 
                                min="0" max="10" step=".25" value="1">
                        </div>
                        <div class="col-3">
                            <select id="ingredient_region_1_measure" name="ingredient_region_1_measure"
                                class="form-select us-dropdown">
                                <option selected>Choose...</option>
                                {% for measure in measures %}
                                <option>{{ measure.measure_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1">
                            <!-- Add the ingredient to the form -->
                            <button type="button" class="us-ingredient-addbtn" onclick="addIngredient()">+</button>
                        </div>
                    </div>
                </div>
                <!-- Add Recipe Preparation -->
                <div class="col-12">
                    <label for="recipe_prep" class="form-label">Preparation</label>
                    <textarea id="recipe_prep" name="recipe_prep" 
                        maxlength="500"
                        class="form-control">{{ recipe.preparation }}</textarea>
                </div>
                <!-- Submit Recipe -->
                <div class="col-12">
                    <div class="us-cancelbtn">
                        <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}"><i
                                class="bi bi-x-lg us-menu-link-01 us-i-color-01"></i>Cancel</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary us-form-btn"
                            onclick="clearLocalStorage('ingredientIDLocalStorage')">Update Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock%}

<!-- Variable user menu items -->
{% block user_menu_item_1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}
<!-- Variable user menu items DUPLICATED for Mobile -->
{% block user_menu_item_1m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}

<!-- Revenue Aside 1 -->
{% block minor_column %}
    <aside class="us-revenue-s1">
        <div>
            <h1 class="us-revenue-s1-header">Revenue Stream Side 1</h1>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}