{% extends "base.html" %}

<!-- Home Search Banner -->
{% block banner %}
    <div class="container-fluid us-banner-container us-b-color-00">
        <nav class="row">
            <div class="col-9 col-md-6 us-index-banner">
                <form method="POST" class="form-inline us-search-form" id="quick-search-form">
                    <select class="form-control us-search-box" id="quick-search" name="quick-search" placeholder="Quick Search"
                        aria-label="Quick Search">
                        <option value="savory">Quick Search</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name.capitalize() }}</option>
                        {% endfor%}
                    </select>
                    <button class="btn btn-outline-success us-search-btn" type="submit"><i class="bi bi-search us-btn-color-02"></i></button>
                </form>
            </div>
            <div class="col-3 col-md-6 us-index-banner us-adv-search-col">
                <div class="">
                    <a class="nav-link us-advsearch-link us-i-color-02" href="{{ url_for('search') }}" title="Goto Advanced Search."><i class="bi bi-search us-menu-link-02 us-i-color-02"></i><sup>ADV </sup></a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

<!-- Header Section -->
{% block header %}
    <header class="col-12 d-md-none us-text-center us-header-box">
        <div id="logo-outer">
            <div><img class="logo-image" src="{{ url_for('static', filename='img/logo-1000.png' ) }}"></div>
        </div>
        <div class="">
            <h1 class="us-header us-h1-color-01">Welcome to uSpice.</h1>
        </div>
        <div class="us-header-menu">
            <button type="button" class="btn btn-outline-success us-nav-btn"><a class="nav-link" href="{{ url_for('build_recipe') }}">Build Recipes</a></button>
            <button type="button" class="btn btn-outline-success us-nav-btn">Recipe Ratings</button>
            <button type="button" class="btn btn-outline-success us-nav-btn">Rate a Recipe</button>
            <button type="button" class="btn btn-outline-success us-nav-btn">Buy</button>
        </div>
    </header>
{% endblock %}

<!-- Highest Rated Section -->
{% block content %}
    <h2 class="us-hr-header us-h2-color-01">Highest Rated Spice Recipes</h2>
    {% for recipe in recipes %}
        <div class="row">
            <div class="col-md-4 text-start">
                <h3 class="us-recipe-header"><a class="us-recipe-head-link" href="recipe/{{ recipe.recipe_uid }}" title="See {{ recipe.recipe_name }}'s recipe card."><sup>#</sup>{{ loop.index }} {{recipe.recipe_name}}</a></h3>
            </div>
            <div class="col-md-6">
                <p>{{recipe.description}}</p>
            </div>
            <div class="col-md-2">
                <img class="us-recipe-img" src="{{ recipe.image_url }}" alt="Image of {{ recipe.recipe_name }}">
            </div>
        </div>
        {% if loop.index != loop.length %}
            <hr class="featurette-divider">
        {% endif %}
    {% endfor %}
{% endblock %}

<!-- Variable user menu items -->
{% block user_menu_item_1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}
<!-- Variable user menu items DUPLICATED for Mobile -->
{% block user_menu_item_1m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}

<!-- Revenue Aside 1 -->
{% block minor_column %}
    <aside class="us-revenue-s1">
        <div>
            <h1 class="us-revenue-s1-header">Revenue Stream Side 1</h1>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}