{% extends "base.html" %}

{% block banner %}
    <!-- Home Search Banner -->
    <div class="container-fluid">
        <div class="row">
            <div class="col us-index-banner us-b-color-00">
                <form method="POST" class="form-inline us-search-form" id="quick-search-form">
                    <select class="form-control us-search-box" id="quick-search" name="quick-search" placeholder="Quick Search"
                        aria-label="Quick Search">
                        <option value="savory">Quick Search</option>
                        <option value="savory">Savory</option>
                        <option value="sweet">Sweet</option>
                        <option value="spicy">Spicy</option>
                    </select>
                    <button class="btn btn-outline-success us-search-btn" type="submit"><i class="bi bi-search us-btn-color-01"></i></button>
                </form>
                <div class="float-end">
                    <a class="nav-link us-advsearch-link" href="{{ url_for('search') }}"><i class="bi bi-search us-user-menu-link-01 us-i-color-01"></i><sup>ADV </sup>Advanced
                        Search</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Highest Rated Section -->
    <h2 class="us-hr-header us-h2-color-01">Highest Rated Spice Recipes</h2>
    {% for recipe in recipes %}
        <div class="row">
            <div class="col-md-4 text-start">
                <h3 class="us-recipe-header"><a class="us-recipe-head-link" href="about/{{ recipe.url }}"><sup>#</sup>{{ loop.index }} {{recipe.name}}</a></h3>
            </div>
            <div class="col-md-6">
                <p>{{recipe.description}}</p>
            </div>
            <div class="col-md-2">
                <img class="us-recipe-img" src="{{ recipe.image_url }}" alt="Image of {{ recipe.name }}">
            </div>
        </div>
        {% if loop.index != loop.length %}
            <hr class="featurette-divider">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block user_menu %}
    <nav class="d-none d-lg-block">
        {% if session['user'] %}
            <div class="us-user-name">Hi {{ session['user'] }}!</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}"><i class="bi bi-person us-menu-link-01 us-i-color-01"></i>Profile</a>
            </li>
        {% endif %}
        {% if  not session['user'] %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Login</a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block minor_column %}
    <!-- Revenue Aside 1 -->
    <aside class="us-revenue-s1">
        <div>
            <h1 class="us-revenue-s1-header">Revenue Stream Side 1</h1>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}