{% extends "base.html" %}

<!-- Register - Banner -->
{% block banner %}
    <div class="container-fluid">
        <div class="row">
            <div class="col us-banner-top us-b-color-00">
                <div class="us-banner-homebtn">
                    <a class="nav-link" href="{{ url_for('index') }}" title="Home"></a>><i class="bi bi-house-door us-user-menu-link-01 us-i-color-01"></i></a>
                </div>
                <div class="us-banner-backbtn">
                    <a class="nav-link" href="{{ url_for('index') }}"><i class="bi bi-arrow-left us-user-menu-link-01 us-i-color-01"></i>Back</a>
                </div>
                <div class="us-banner-top-title-div us-b-color-00 us-p-color-01">
                    <h1 class="us-banner-top-title us-h1-color-02">Log In</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Login - Form -->
{% block content %}
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
            <i class="bi bi-person-check"></i>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" 
                aria-describedby="usernameHelp" 
                required
                class="form-control">
            <small id="usernameHelp" class="form-text text-muted">Enter a valid username.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" 
          required
          class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
{% endblock %}

<!-- Variable user menu items -->
{% block user_menu_item_1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
<!-- Variable user menu items DUPLICATED for Mobile -->
{% block user_menu_item_1m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}

<!-- Revenue Aside 1 -->
{% block minor_column %}
    <aside class="us-revenue-s1">
        <div>
            <h1 class="us-revenue-s1-header">Revenue Stream Side 1</h1>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}