{% extends "base.html" %}

<!-- Profile - Banner -->
{% block banner %}
    <div class="container-fluid us-banner-container us-b-color-00">
        <nav class="row text-center">
            <div class="col-4 col-md-1 us-banner-top">
                <div class="us-banner-navbtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}"><i class="bi bi-chevron-left us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
                <div class="us-banner-navbtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}"><i class="bi bi-chevron-right us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
            <div class="col-4 col-md-5 us-banner-top">
                <div class="us-banner-top-title-div us-p-color-01">
                    <h1 class="us-banner-top-title us-h1-color-02">{{ session.user.capitalize() }}'s Profile</h1>
                </div>
            </div>
            <div class="col-4 col-md-6 us-banner-top">
                <div class="us-banner-homebtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}" title="Home"><i class="bi bi-house-door us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <!-- #### Add a list of the user's recipes submitted -->
    <div class="row">
        <div class="col-md-4 text-start">
            <h4>Username: {{ username.capitalize() }}</h4>
        </div>
        <div class="col-md-6">
            <p>User Description</p>
        </div>
        <div class="col-md-2">
            <img class="us-recipe-img" src="{{ avitar }}" alt="Image of {{ username }}'s avitar">
        </div>
    </div>
    <hr class="featurette-divider">
<!-- User Submitted Recipe Section -->
<h5 class="us-hr-header us-h2-color-01">{{ username.capitalize() }}'s Submitted Recipes</h5>
<div class="row us-profile-recipe-header-row">
    <div class="col-md-2 text-start">
        <div class="us-spacer-100p"></div>
    </div>
    <div class="col-md-3">
        <div class="us-spacer-100p"></div>
    </div>
    <div class="col-md-2">
        <div class="us-spacer-100p"></div>
    </div>
    <div class="col-md-1">
        <p>Date Posted</p>
    </div>
    <div class="col-md-1">
        <p>Your Rating</p>
    </div>
    <div class="col-md-3 us-text-center">
        <p>Actions</p>
    </div>
</div>
{% for recipe in recipes %}
    <div class="row us-profile-recipe-row">
        <div class="col-md-2 text-start">
            <h3 class="us-recipe-header"><a class="us-recipe-head-link" href="../recipe/{{ recipe.recipe_uid }}" title="See {{ recipe.recipe_name }}'s recipe card."><sup>#</sup>{{ loop.index }} {{recipe.recipe_name}}</a></h3>
        </div>
        <div class="col-md-3">
            <p>{{recipe.description}}</p>
        </div>
        <div class="col-md-2">
            <img class="us-recipe-img" src="{{ recipe.image_url }}" alt="Image of {{ recipe.recipe_name }}">
        </div>
        <div class="col-md-1">
            <p>{{recipe.date_posted}}</p>
        </div>
        <div class="col-md-1 us-text-center">
            <p>{{recipe.rating}}</p>
        </div>
        <div class="col-md-3 us-text-center">
            <a class="us-recipe-head-link us-update-rating-btn" href="../recipe/{{ recipe.recipe_uid }}" title="Update {{ recipe.recipe_name }}'s rating.">Update Rating</a>
            <a class="us-recipe-head-link us-update-rating-btn" href="{{ url_for('edit_recipe', ruid=recipe.recipe_uid) }}" title="Update {{ recipe.recipe_name }}'s rating.">Delete</a>
            <a class="us-recipe-head-link us-update-rating-btn" href="{{ url_for('edit_recipe', ruid=recipe.recipe_uid) }}" title="Edit {{ recipe.recipe_name }}.">Edit</a>
        </div>
    </div>
    {% if loop.index != loop.length %}
        <hr class="featurette-divider">
    {% endif %}
{% endfor %}
{% endblock %}

<!-- Variable user menu items -->
{% block user_menu_item_1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
<!-- Variable user menu items DUPLICATED for Mobile -->
{% block user_menu_item_1m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}

<!-- Revenue Aside 1 -->
{% block minor_column %}
    <aside class="us-revenue-s1">
        <div>
            <h1 class="us-revenue-s1-header">Revenue Stream Side 1</h1>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}