{% extends "base.html" %}

{% block banner %}
    <!-- Recipe Card - Banner -->
    <div class="container-fluid">
        <div class="row">
            <div class="col us-banner-top us-b-color-00">
                <div class="us-banner-homebtn">
                    <a class="nav-link" href="{{ url_for('index') }}"><i class="bi bi-house-door us-user-menu-link-01 us-i-color-01"></i></a>
                </div>
                <div class="us-banner-backbtn">
                    <a class="nav-link" href="{{ url_for('index') }}"><i class="bi bi-arrow-left us-user-menu-link-01 us-i-color-01"></i>Back</a>
                </div>
                <div class="us-banner-top-title-div us-b-color-00 us-p-color-01">
                    <h1 class="us-banner-top-title us-h1-color-02">Recipe Card</h1>
                </div>
                <div class="float-end">
                    <a class="nav-link us-advsearch-link" href="{{ url_for('search') }}"><i class="bi bi-search us-user-menu-link-01 us-i-color-01"></i><sup>ADV </sup>Advanced
                        Search</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <div class="float-end"><img class="us-recipe-card-image" src="{{ recipe.image_url }}" alt="{{ recipe.image_alt }}" width=100%></div>
        <div class=""><h2 class="us-recipe-name">{{ recipe.name }}</h2></div>
    </div>
    <row>
        <div class="col">
        <p>{{ recipe.description }}</p>
        </div>
    </row>
    <row>
        <div class="col">
        <h3 class="us-recipe-info">Recipe Info</h3>
        <p>Author: {{ recipe.author }}</p>
        <p>Flavor Profile: 
            {% for flavor in recipe.flavors %}
                {{ flavor }}
                {% if loop.index != loop.length %}
                    ,
                {% endif %}
            {% endfor %}
        </p>
        <p>Region: {{ recipe.region }}</p>
        <p>Date Posted: {{ recipe.date_posted }}</p>
        </div>
    </row>
    <row>
        <div class="col">
        <h3 class="us-recipe-info">Ingredients</h3>
        {% for ingredient in recipe.ingredients %}
            <p>{{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.measure }}</p>
        {% endfor %}
    </row>
    <row>
        <div class="col">
            <h3 class="us-recipe-info">Preparation</h3>
            <p>{{ recipe.preparation }}</p>
    </row>
{% endblock%}

{% block recipe_rev_side %}
    <!-- Revenue Aside 1 -->
    <aside class="us-revenue-s1">
        <div>
            <h1 class="us-revenue-s1-header">Revenue Stream Side 1</h1>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}