{% extends "base.html" %}

{% block banner %}
    <div class="container-fluid us-banner-container us-b-color-00">
        <nav class="row text-center">
            <div class="col-4 col-md-1 us-banner-top">
                <div class="us-banner-navbtn"><a class="nav-link us-padding-0" href="{{ url_for('index') }}"><i class="bi bi-chevron-left us-user-menu-link-01 us-i-color-02"></i>Home</a></div>
            </div>
            <div class="col-4 col-md-5 us-banner-top">
                <div class="us-banner-top-title-div us-p-color-01">
                    <h1 class="us-banner-top-title us-h1-color-02">Recipe Card</h1>
                </div>
            </div>
            <div class="col-4 col-md-6 us-banner-top">
                <div class="float-end">
                    <a class="nav-link us-advsearch-link us-i-color-02" href="{{ url_for('search', term='All') }}" title="Goto Advanced Search."><i class="bi bi-search us-menu-link-02 us-i-color-02"></i><sup>ADV </sup></a>
                </div>
                <div class="us-banner-homebtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}" title="Home"><i class="bi bi-house-door us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div>
        <div class="float-end"><img class="us-recipe-card-image" src="{{ recipe.image_url }}" alt="{{ recipe.image_alt }}"></div>
        <div class=""><h2 class="us-recipe-name">{{ recipe.recipe_name }}</h2></div>
    </div>
    <div class="row us-text-left">
        <div class="col">
            <p>{{ recipe.description }}</p>
        </div>
    </div>
    <div class="row us-text-left">
        <div class="col">
            <h3 class="us-recipe-info">Recipe Info</h3>
            <p>Author: {{ recipe.author }}</p>
            <p>Flavor Profile: 
                {% for flavor in recipe.flavors %}
                    {{ flavor }}
                    {% if loop.index != loop.length %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>
            <p>Region: {{ recipe.recipe_region }}</p>
            <p>Date Posted: {{ recipe.date_posted }}</p>
        </div>
    </div>
    <div class="row us-text-left">
        <div class="col">
            <h3 class="us-recipe-info">Ingredients</h3>
            {% for ingredient in recipe.ingredients %}
                <p>{{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.measure }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row us-text-left">
        <div class="col">
            <h3 class="us-recipe-info us-text-left">Preparation</h3>
            <p>{{ recipe.preparation }}</p>
        </div>
    </div>
    <div class="row">
        {% if session.user %}
            <div class="col">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#ratingModal">
                    Rate this recipe!
                </button>
            </div>
        {% else %}
            <div class="col">
                <!-- Login Button -->
                <div class="btn btn-primary us-nav-btn-01"><a class="nav-link us-i-color-02" href="{{ url_for('login') }}">Log in to Rate this recipe!</a>
                </div>
            </div>
        {% endif %}
        </div>
{% endblock%}

<!-- Variable user menu items -->
{% block user_menu_item_1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}" title="Register so you can rate and build recipes!"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}
<!-- Variable user menu items DUPLICATED for Mobile -->
{% block user_menu_item_1m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}" title="Register so you can rate and build recipes!"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}

<!-- Revenue Aside 1 -->
{% block minor_column %}
    <aside class="us-revenue-s1">
        <div>
            <h2 class="us-revenue-s1-header">Revenue Stream Side 1</h2>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}

{% block modals %}
<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="ratingModalLabel">Rate {{ recipe.recipe_name }}!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" id="ratingForm" name="ratingForm" method="POST" action="{{ url_for('recipe', ruid=recipe.recipe_uid) }}">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rating" id="ratingOne" value=1>
                    <label class="form-check-label" for="ratingOne">
                      1
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rating" id="ratingTwo" value=2>
                    <label class="form-check-label" for="ratingTwo">
                      2
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rating" id="ratingThree" value=3>
                    <label class="form-check-label" for="ratingThree">
                      3
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rating" id="ratingFour" value=4>
                    <label class="form-check-label" for="ratingFour">
                      4
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rating" id="ratingFive" value=5>
                    <label class="form-check-label" for="ratingFive">
                      5
                    </label>
                  </div>
                  <button type="submit" class="btn btn-outline-success us-nav-btn" onclick="ratingConfirm()">Submit Rating</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
    </div>
</div>
{% endblock%}