{% extends "base.html" %}

{% block banner %}
    <div class="container-fluid us-banner-container us-b-color-00">
        <nav class="row text-center">
            <div class="col-2 col-md-1 us-banner-top">
                <div class="us-banner-navbtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}"><i class="bi bi-chevron-left us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
                <div class="us-banner-navbtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}"><i class="bi bi-chevron-right us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
            <div class="col-4 col-md-5 us-banner-top">
                <div class="us-banner-top-title-div us-p-color-01">
                    <h1 class="us-banner-top-title us-h1-color-02">{{ session.user.capitalize() }}'s Rated Recipes</h1>
                </div>
            </div>
            <div class="col-4 col-md-6 us-banner-top">
                <div class="float-end">
                    <a class="nav-link us-advsearch-link us-i-color-02" href="{{ url_for('search') }}" title="Goto Advanced Search."><i class="bi bi-search us-menu-link-02 us-i-color-02"></i><sup>ADV </sup></a>
                </div>
                <div class="us-banner-homebtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}" title="Home"><i class="bi bi-house-door us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
<!-- Latest Rated Section -->
    <h2 class="us-hr-header us-h2-color-01">Last Rated Recipe</h2>
    <div>
        <div class="float-end"><img class="us-recipe-card-image" src="{{ recipe.image_url }}" alt="{{ recipe.image_alt }}" width=100%></div>
        <div class=""><h3 class="us-recipe-name">{{ recipe.recipe_name }}</h3></div>
    </div>
    <row>
        <div class="col">
            <p>{{ recipe.description }}</p>
        </div>
        <div class="col">
            <h3 class="us-recipe-info">Recipe Info</h3>
            <p>Author: {{ recipe.author }}</p>
            <p>Flavor Profile:
                {% for flavor in recipe.flavors %}
                {{ flavor }}
                {% if loop.index != loop.length %}
                ,
                {% endif %}
                {% endfor %}
            </p>
            <p>Region: {{ recipe.region }}</p>
            <p>Date Posted: {{ recipe.date_posted }}</p>
        </div>
    </row>
    {% for rating in ratings %}
        <div class="row">
            <div class="col-md-4 text-start">
                <h3 class="us-recipe-header"><a class="us-recipe-head-link" href="recipe/{{ rating.ruid }}" title="See {{ rating.recipe_name }}'s recipe card."><sup>#</sup>{{ loop.index }} {{rating.recipe_name}}</a></h3>
            </div>
            <div class="col-md-4">
                <p>{{rating.post_date}}</p>
            </div>
            <div class="col-md-4">
                <p>{{rating.rating}}</p>
            </div>
        </div>
        {% if loop.index != loop.length %}
            <hr class="featurette-divider">
        {% endif %}
    {% endfor %}
{% endblock %}

<!-- Variable user menu items -->
{% block user_menu_item_1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}
<!-- Variable user menu items DUPLICATED for Mobile -->
{% block user_menu_item_1m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2m %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}

<!-- Revenue Aside 1 -->
{% block minor_column %}
    <aside class="us-revenue-s1">
        <div>
            <h1 class="us-revenue-s1-header">Revenue Stream Side 1</h1>
            <div class="us-revenue-s1-body">
                <p>
                    Saleable/Ad Space Content
                </p>
            </div>
        </div>
    </aside>
{% endblock %}