{% extends "base.html" %}

{% block recipe_card_banner %}

        <!-- Recipe Card - Banner -->
        <div class="container-fluid">
            <div class="row">
                <div class="us-banner-backbtn"><a class="nav-link" href="{{ url_for('index') }}"><i class="bi bi-arrow-left us-user-menu-link-01 us-i-color-01"></i>Back</a></div>
                <div class="col us-banner-top us-b-color-01 us-p-color-01">
                    Recipe Card
                </div>
            </div>
        </div>

{% endblock %}

{% block recipe_panel %}

<div class="row">
    <div class="col-md-5">
        <img src="{{ recipe.image_url }}" alt="Image of {{ recipe.name }}" width=100%>
        <h2 class="col-md-7">{{ recipe.name }}</h2>
    </div>
</div>

<div class="col-md-12">
    <p>{{ recipe.description }}</p>
</div>



{% endblock%}