{% extends "base.html" %}

{% block banner %}

<!-- Revenue Stream - Banner -->
<div class="container-fluid">
    <div class="row">
        <div class="col us-banner-top-rev">
            Revenue Stream - Banner - Saleable/Ad Space Content
        </div>
    </div>
</div>
<!-- Register - Banner -->
<div class="container-fluid">
    <div class="row">
        <div class="col us-banner-top us-b-color-00">
            <div class="us-banner-homebtn">
                <a class="nav-link" href="{{ url_for('index') }}"><i class="bi bi-house-door us-user-menu-link-01 us-i-color-01"></i></a>
            </div>
            <div class="us-banner-backbtn">
                <a class="nav-link" href="{{ url_for('index') }}"><i class="bi bi-arrow-left us-user-menu-link-01 us-i-color-01"></i>Back</a>
            </div>
            <div class="us-banner-top-title-div us-b-color-00 us-p-color-01">
                <h1 class="us-banner-top-title us-h1-color-02">Register</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('register') }}">
        <div class="form-group">
            <label for="username">Username</label>
            <i class="bi bi-person-plus"></i>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" required>
            <small id="usernameHelp" class="form-text text-muted">Enter a valid username.</small>
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}