{% extends "base.html" %}

<!-- Advanced Search - Banner -->
{% block banner %}
    <div class="container-fluid us-banner-container us-b-color-00">
        <nav class="row text-center">
            <div class="col-4 col-md-1 us-banner-top">
                <div id="backButton" class="us-banner-navbtn"></div>
                <div id="forwardButton" class="us-banner-navbtn" onclick="updateCurrentIndex('up')"></div>
            </div>
            <div class="col-4 col-md-5 us-banner-top">
                <div class="us-banner-top-title-div us-p-color-01">
                    <h1 class="us-banner-top-title us-h1-color-02">Advanced Search</h1>
                </div>
            </div>
            <div class="col-4 col-md-6 us-banner-top">
                <div class="us-banner-homebtn">
                    <a class="nav-link us-padding-0" href="{{ url_for('index') }}" title="Home"><i class="bi bi-house-door us-user-menu-link-01 us-i-color-02"></i></a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

<!-- Search Results Block -->
{% block content %}
    <div id="us-hr-box-id" class="col-12 us-text-center us-hr-box">
        <h2 class="us-hr-header us-h2-color-01">Search Results for "{{ term }}".</h2>
    </div>
    <div id="us-hr-box-id" class="col-12 us-text-center us-hr-box">
        <h4 class="us-hr-header us-h2-color-01">Advanced Search Form Comming Soon!</h4>
    </div>
 <!-- User Submitted Recipe Section -->
 <div class="row us-profile-recipe-header-row">
     <div class="col-md-2 text-start">
         <div class="us-spacer-100p"></div>
     </div>
     <div class="col-md-3">
         <div class="us-spacer-100p"></div>
     </div>
     <div class="col-md-2">
         <div class="us-spacer-100p"></div>
     </div>
     <div class="col-md-1">
         <p>Date Posted</p>
     </div>
     <div class="col-md-1">
         <p>Rating</p>
     </div>
     <div class="col-md-1">
         <p>Submitted By</p>
     </div>
     <div class="col-md-2 us-text-center">
         <p>Actions</p>
     </div>
 </div>
{% for recipe in recipes %}
 <div class="row us-profile-recipe-row">
     <div class="col-md-2 text-start">
         <h3 class="us-recipe-header"><a class="us-recipe-head-link" href="../recipe/{{ recipe.recipe_uid }}" title="See {{ recipe.recipe_name }}'s recipe card."><sup>#</sup>{{ loop.index }} {{ recipe.recipe_name }}</a></h3>
     </div>
     <div class="col-md-3">
         <p>{{ recipe.description }}</p>
     </div>
     <div class="col-md-2">
         <img class="us-recipe-img" src="{{ recipe.image_url }}" alt="Image of {{ recipe.recipe_name }}">
     </div>
     <div class="col-md-1">
         <p>{{ recipe.date_posted }}</p>
     </div>
     <div class="col-md-1 us-text-center">
         <p>{{ recipe.rating }}</p>
     </div>
     <div class="col-md-1 us-text-center">
         <p>{{ recipe.author }}</p>
     </div>
     <div class="col-md-2 us-text-center">
         <a class="us-recipe-head-link us-update-rating-btn" href="../recipe/{{ recipe.recipe_uid }}" title="Update {{ recipe.recipe_name }}'s rating.">Update Rating</a>
     </div>
 </div>
 {% if loop.index != loop.length %}
     <hr class="featurette-divider">
 {% endif %}
{% endfor %}

{% endblock %}

<!-- Variable user menu items -->
{% block user_menu_item_1 %}
    <li class="nav-item">
        <a class="nav-link" onclick="storeClickPath('search')" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2 %}
    <li class="nav-item" onclick="storeClickPath('search')">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}
<!-- Variable user menu items DUPLICATED for Mobile -->
{% block user_menu_item_1m %}
    <li class="nav-item" onclick="storeClickPath('search')">
        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-pencil-square us-menu-link-01 us-i-color-01"></i>Register</a>
    </li>
{% endblock %}
{% block user_menu_item_2m %}
    <li class="nav-item" onclick="storeClickPath('search')">
        <a class="nav-link" href="{{ url_for('login') }}"><i class="bi bi-door-open us-menu-link-01 us-i-color-01"></i>Log In</a>
    </li>
{% endblock %}

{% block minor_column %}

{% endblock %}

